/*==================== GENERALES ==================== */

/* Variables */
$hover: rgb(245, 200, 208);
$colorTitle: rgb(133, 131, 131);

/* Mixin */
@mixin sizes ($height, $width) {
    height: $height;
    width: $width;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

.button {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: white;
    font-size: 1.8rem;
    border-radius: 2rem;
    cursor: pointer;

    a {
        text-decoration: none;
        color: rgba(18, 14, 16, 0.9);
    }

    &:hover {
        background-color: $hover;
        color: rgba(18, 14, 16, 0.9);
    }
}

.button-submit {
    @extend .button;

    &:hover {
        background-color: #333;
        color: white;
    }
}

.title {
    width: 100%;
    padding: 2rem;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    background-color: $colorTitle;
}

