/*==================== HEADER ==================== */
nav {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4);

    .navbar-toggler {
        width: 60px;
        height: 35px;
    }

    .nav-link {
        color: black;
        font-size: 1.5rem;
        margin: 1rem;
        padding: 1rem;
        border-radius: 5rem;

        &:hover {
            background-color: rgb(245, 200, 208, 0.7);
        }

        &:visited {
            color: black;
        }
    }

    .navLogo {
        img {
            margin-top: 1rem;
            margin-bottom: 1rem;
            height: 3rem;
        }
    }
}

