@import "fuentes";
@import "generales";
@import "header";
@import "footer";

/* ***************************** MOBILE ***************************** */

/*==================== INICIO ==================== */

/* SECTION CONTAINER */
.containerInicio {
    @include sizes (650px, 100%);
    background-image: url(../images/inicio.jpg);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
    justify-items: flex-start;
    grid-template-areas:
        "box"
    ;
}

.box {
    @include sizes (200px, 300px);
    background-color: rgba(18, 14, 16, 0.9);
    justify-content: center;
    justify-items: start;
    text-align: center;
    align-content: flex-start;
    outline: 1px solid white;
    outline-offset: -10px;
    margin-top: 5rem;
    margin-left: 2rem;
    grid-area: box;
    border-radius: 15px;
}

.box h1 {
    font-size: 3rem;
    color: white;
    margin-top: 3rem;
}

.box h2 {
    font-size: 1.8rem;
    font-style: italic;
    color: white;
    margin-bottom: 1.5rem;
}

/* SECTION ICONS-CONTAINER */
.iconsContainer {
    background: #eee;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
    justify-content: center;
    align-items: center;
}

.icons>div {
    background: #fff;
    border: 1rem solid rgba(0, 0, 0, .1);
}

.icons {
    display: flex;
    align-items: center;
    width: 25rem;
}

.icons img {
    height: 3rem;
    opacity: 0.7;
    margin: 1rem;
}

.icons h3 {
    margin: 1rem;
    color: #333;
    font-size: 1.4rem;
    line-height: 1rem;
    margin-top: 1.2rem;
}


/* SECTION PADRE (Inicio + Colores) */
.sectionPadre {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sectionHijo h4 {
    font-size: 2rem;
    text-align: center;
    font-weight: normal;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sectionHijo {
    text-align: center;
}

.sectionHijo img {
    width: 250px;
    height: 250px;
    transition: transform .2s;
    border-radius: 700px;
    background-color: rgba(18, 14, 16, 0.8);
    margin-top: 2rem;
    box-shadow: 3px 3px 6px;
}

.sectionHijo img:hover {
    transition: all 200ms ease-in;
    transform: scale(1.1);
}

/*==================== PRECIOS ==================== */
.largo {
    grid-area: largo;
}

.ancho {
    grid-area: ancho;
}

.precio {
    grid-area: precio;
}

.bold {
    font-size: 1.4rem;
    font-weight: bolder;
    color: black;
}

.tableBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    font-size: 1.3rem;
    text-align: center;
    background-color: #eee;
    grid-template-areas:
        "largo ancho precio"
    ;
}

.tableBox>div {
    border: 1px solid rgb(180, 178, 178);
}

.subtitle {
    margin: 0;
    padding: 1rem;
    font-size: 1.8rem;
    font-style: italic;
    text-align: center;
    background-color: rgb(245, 200, 208, 0.7);
    color: rgba(18, 14, 16, 0.8);
}

.container {
   width: 90%;
}

.generalContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    gap: 3rem;
}

.personalized {
    width: 100%;
    background-color: rgba(18, 14, 16, 0.7);
    outline: 1px solid white;
    outline-offset: -10px;
    color: white;
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
    border-radius: 30px;
}

.personalized h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

/*==================== CUIDADOS ==================== */
.card{
    background-color: rgb(255, 253, 253);
    border-radius: 20px;
}

.img-fluid{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.card-body{
    color: black;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column; 
    line-height: 2.8rem;
}

.card-title{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-decoration: underline;
    font-weight: bold;
}

/*==================== CONTACTO ==================== */
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 15px;
    padding: 2rem;
    margin-top: 3rem;
    background-image: linear-gradient(to bottom right, #f1b1ba, #f5dddf);
}

input,
textarea {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1.5rem;
    border: none;
}

label {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


/* ***************************** MIN-WIDTH 768px ***************************** */

@media (min-width:768px) {

    /* SECTION CONTAINER */
    .box {
        @include sizes (250px, 350px);
    }

    .box h1 {
        margin-top: 5rem;
    }

    .box h3 {
        margin-bottom: 2rem;
    }

    /*==================== INICIO ==================== */

    /* SECTION ICONS-CONTAINER */
    .iconsContainer {
        display: flex;
        flex-direction: row;
    }

    .icons {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        align-items: center;
    }

    .icons h3 {
        font-size: 1.5rem;
        line-height: 1.4rem;
        margin-top: 1.2rem;
        text-align: center;
    }

    /* SECTION PADRE (Inicio + Colores) */
    .sectionPadre {
        display: flex;
        flex-direction: row;
    }

    /*==================== PRECIOS ==================== */
    .container {
        width: 80%;
     }

    /*==================== CUIDADOS ==================== */
    .img-fluid {
        @include sizes (100%, 100%);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    /*==================== CONTACTO ==================== */
    form{
        width: 50%;
    }
}

/* ***************************** MIN-WIDTH 1024px ***************************** */

@media(min-width:1024px) {

    /*==================== INICIO ==================== */

    /* SECTION CONTAINER */
    .box {
        @include sizes (250px, 450px);
        margin-left: 8rem;
    }

    .box h1 {
        font-size: 4rem;
    }

    .box h2 {
        font-size: 2.3rem;
    }

    .box h3 {
        margin-bottom: 1rem;
    }

    .sectionHijo img {
        @include sizes (300px, 300px);
    }

     /*==================== PRECIOS ==================== */
     .bold {
        font-size: 1.6rem;
    }

    .tableBox {
    font-size: 1.5rem;
    }

    .subtitle{
        font-size: 2rem;
    }

     .container {
        width: 60%;
     }
}